<div class="wrapper" *ngIf="authService.userConncted()">
  <lbd-sidebar
    [headerText]="config.SiteName"
    [headerLink]="config.headerLink"
    [headerLogoImg]="config.headerLogoImg"
    [backgroundColor]="config.backgroundColor"
    [backgroundImg]="config.backgroundImg"
    [navItems]="navItems">
  </lbd-sidebar>

  <div class="main-panel">
    <lbd-navbar [navItems]="navItems"></lbd-navbar>
    <router-outlet></router-outlet>
  </div>

  <lbd-close-layer></lbd-close-layer>
</div>

<div  *ngIf="!authService.userConncted()">
  <app-login></app-login>
</div>
