<div class="col-md-12" [@cardtable1] style="margin: 30px 0;">

  <div class="card"  >
    <div class="header">
      <h4 class="title pull-left">Update continent : {{OriginalContinentName}}</h4>
      <button (click)="router.navigate(['/continents'])" class="btn pull-right">Cancel</button>
    </div>

    <div class="content ">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group ">
            <label>Continent name</label>
            <input [(ngModel)]="ContinentName" type="text" class="form-control"  placeholder="Continent name">
          </div>
          <button (click)="doUpdate()" class="btn">Submit</button>

        </div>


      </div>

    </div>
  </div>
</div>
