<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/Adel_BOUHOULA.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Prof. Dr. Ing. Adel BOUHOULA</h1>
                <b>Email:</b> <a href="mailto:bouhoula@gmail.com">bouhoula@gmail.com</a><br>
                <b>Mobile:</b> +216 98 437 437<br>
                <b>Web:</b> <a href="http://www.supcom.mincom.tn/~bouhoula">http://www.supcom.mincom.tn/~bouhoula</a>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Adel Bouhoula received in 1990 a Computer Engineering degree with Distinction from the University of
                Tunis (Tunisia). He received a Master’s degree, PhD degree with Distinction and Habilitation degree all
                in computer science from Henri Poincare University in Nancy (France), in 1991, 1994 and 1998,
                respectively.
                <br>
                <br>
                Adel Bouhoula is currently a Professor at the Sup’Com Engineering School of Telecommunications in
                Tunisia and a Visiting Professor at the University of Tsukuba in Japan. He is also the Founder and Head
                of the «Digital Security» Research Unit, the Founder and President of the Tunisian Society for Digital
                Security.
                <br>
                <br>
                Formerly, Adel Bouhoula has served as Chairman and CEO of the Research Institute for Computer Science
                and Telecommunication in Tunisia (IRSIT). Prior to that, he has been the Director of Information
                Technologies and Networks at «Tunisie Telecom» and a Senior Researcher with the INRIA French National
                Institute for Research in Computer Science and Control in France. Also, He has been a Member of the High
                Level Committee for Science and Technology in Tunisia.
                <br>
                <br>
                Adel BOUHOULA owned three patents and has published three edited books and over 140 articles in leading
                international journals, conferences and refereed workshops, since 1992. His research interests include
                in particular Automated Reasoning, Network Security, Cryptography, Validation of cryptographic
                protocols, Formal Methods in System Design and Advanced Data Structures and Algorithm Analysis.
                <br>
                <br>
                Adel BOUHOULA was invited to give seminars/talks, in numerous universities and laboratories all over the
                world, namely, in France, the United Kingdom, Italy, Portugal, Spain, Germany, Russia, Australia,
                Canada, China, the United States and Japan. He was also invited as visiting scholar/researcher/professor
                to several world-known and reputed institutions, to mention a few: SRI International (California - USA),
                the Mitsubishi Research Institute (Tokyo - Japan), the Laboratory Specification and Verification at the
                “Ecole Normale Supérieure” of Cachan (Paris – France), the Computer Science Research Laboratory of
                Bordeaux “LaBRI” (Bordeaux – France), the Hardware Verification Group at Concordia University (Montreal
                – Canada), the University of Sherbrook (Canada), and the Symbolic Computation Research Group at the
                University of Tsukuba (Tsukuba – Japan).
                <br>
                <br>
                Adel BOUHOULA has supervised more than 30 Masters and PhD students in France and Tunisia. He has also
                supervised many Japanese Masters and PhD students from Tsukuba University, during their internships in
                Tunisia.
                <br>
                <br>
                Adel BOUHOULA received the award of the title of <b>the Knight of the Order of the Republic</b> and also
                <b>the Knight of the National Order of the Merit in the field of the Education and of the Science</b>.
                He was also awarded by
                <b>the Carthage university award for Excellence in scientific research</b> as he ranked first in the
                discipline "telecommunications" among active Tunisian researchers in Tunisia.
                <br>
                <br>
                Adel BOUHOULA is 50 years old. He is married and father to two children.
            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>