<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/Ahmed_BOUHOULA.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Ahmed BOUHOULA</h1>
                <b>Date de naissance:</b> 9 novembre 1996
                <br>
                <b>Email:</b> <a href="mailto:ahmed.bouhoula@gmail.com">ahmed.bouhoula@gmail.com</a>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>FORMATION ACADEMIQUE </h2>
                <h4>Etudes supérieures :</h4>
                <b>Septembre 2015-présent :</b> Lycée Louis le Grand – Paris (MPSI/MP* - Classes Préparatoires aux
                Grandes Ecoles).
                <br>
                <h4>Etudes secondaires :</h4>
                <b>Juin 2015:</b> obtention du diplôme du baccalauréat section Mathématiques avec la mention Très Bien
                et une moyenne de 18.60/20
                <br><b>3 Décembre 2014 :</b> obtention du Diplôme Approfondi de Langue Française « DALF C1 » avec un
                score de
                <br><b>8 Novembre 2014 :</b> obtention du Diplôme « SAT II Subject Test » en Mathématiques niveau 2 avec
                un score de 780/800 décerné par « The College Board ».
                <br><b>Septembre 2011 – juin 2015 :</b> Lycée Pilote de l’Ariana
                <br><b>Septembre 2008 – Juin 2011 :</b> Collège Pilote les Berges du Lac.
                <br>

                <h4>Etudes primaires :</h4>
                Admis au concours d'entrée aux collèges pilotes (lauréat des élèves de l’Ecole primaire Tanit Carthage).
                <br>
                <b>2 Juin 2008 :</b> obtention du Diplôme d’Etudes en Langue Française « DELF A2 » 
                <b>Septembre 2002 – Juin 2008 :</b> Ecole primaire Tanit Carthage Hannibal.

                <h2>DISTINCTIONS HONORIFIQUES </h2>
                - 21 Avril 2015 : honoré par Son Excellence Monsieur Béji Caïd ESSEBSI, Président de la République
                Tunisienne après avoir remporté sept médailles nationales et arabes en programmation informatique.
                <a href="https://www.facebook.com/Presidence.tn/photos/a.281368748587856.67418.271178572940207/885348518189873/?type=1&permPage=1">Lien</a>
                <br><br>
                - 1er Novembre 2014 : honoré par le Ministre de l’Education après avoir remporté la Médaille d’or à la
                deuxième édition du concours national de programmation informatique ACM TCPC 201

                <h2>PRIX, MEDAILLES ET DISTINCTIONS </h2>
                <h4>INFORMATIQUE:</h4>
                <b>19 Mars 2015 :</b> Médaille d’Or à la troisième édition du concours national de programmation informatique ACM TCPC 2015 ayant résolu 7 problèmes sur dix dépassant tous les étudiants participants. Un exploit d'autant plus important si l'on note que la deuxième équipe composée de 3 étudiants n’a pu résoudre que 5 problèmes.
                <br><b>19 Mars 2015 :</b> Trophée d'excellence de l'ACM TCPC après avoir excellé au cours des concours nationaux et panarabes en programmation informatique : ACM TCPC 2013 - ACM TCPC 2014 - ACM ACPC 2013 - ACM ACPC 2014
                <br><b>17 Mars 2015 :</b> Médaille d’Or à l’Olympiade Tunisienne de Programmation « TOP’2015 ». - 61 Novembre 2014 : Médaille d’Or au concours régional panarabe ACM ACPC 2014 à Sharm ElSheikh – Egypte  - 28 Aout 2014 : Médaille d’Or à la deuxième édition du concours national de programmation informatique ACM TCPC 2014
                <br><b>25 Avril 2014 :</b> Trophée de la délégation régionale de l'éducation de l'Ariana après avoir remporté la Médaille d’or à l’Olympiade Tunisienne de Programmation « TOP’2014 »
                <br><b>18 Mars 2014 :</b> Médaille d’Or à l’Olympiade Tunisienne de Programmation « TOP’2014 » avec un score de 300/300 (avec un écart de  110 points par rapport au second)
                <br><b>16 Mars 2014 :</b> 1er prix de la deuxième édition de Sup’Com collegiate Programming Contest
                <br><b>24 janvier 2014 :</b>Trophée de la délégation régionale de l'éducation de l'Ariana après avoir remporté la Médaille de l’ACPC au concours régional panarabe ACM ACPC 2013
                <br><b>23 Novembre 2013 :</b> Médaille d’Argent au concours régional panarabe ACM ACPC 2013 à Sharm El-Sheikh – Egypte  Premier tunisien à avoir décroché une Médaille à l'ACM ACPC
                <br><b>6 Octobre 2013 :</b> Médaille d’Or à la première édition du concours national de programmation informatique ACM TCPC 2013

                <h4>PHYSIQUE:</h4>
                <b>25 Avril 2014 :</b> Trophée de la délégation régionale de l'éducation de l'Ariana après avoir remporté le 5ème prix de la compétition « 2014 US Invitational Young Physicist Tournament »
                <br><b>1er Février 2014 :</b> 5ème prix de la compétition « 2014 US Invitational Young Physicist Tournament », rendez-vous mondial annuel de recherche en physique dédiée aux écoles secondaires –  San José, Californie (USA).

                <h4>MATHÉMATIQUE:</h4>
                <b>26 Mars 2014 :</b> passage avec succès du deuxième tour de la phase de sélection des olympiades nationales de mathématiques (10 élèves ont été sélectionnés parmi les 20 élèves participants)
                <br><b>28 Février 2014 :</b> passage avec succès du premier tour de la phase de sélection des olympiades nationales de mathématiques (20 élèves ont été sélectionnés parmi les meilleurs 300 élèves tunisiens en mathématiques)

                <h2>EXPOSE </h2>
                Exposé intitulé « Magnet Stack » au cours de la compétition internationale « 2014 US Invitational Young Physicist Tournament »,  San José – Californie, 31 Janvier -1er Février 2014
<br>
                <a href="http://youtu.be/CO02zWGoYjs">http://youtu.be/CO02zWGoYjs</a>

                <h2>PUBLICATION</h2>
                Ahmed Bouhoula and Anis Yazidi. A Security Policy Query Engine for Fully Automated Resolution of Anomalies in Firewall Configurations1. In Proceedings of the 15th IEEE International Symposium on Network Computing and Applications (IEEE NCA 2016). 31 October — 2 November 2016. Cambridge, MA USA. IEEE Computer Society.
                <br>Conference Ranking = A
                <br><a href="http://portal.core.edu.au/confranks/?search=NCA&by=all&source=CORE2017&sort=atitle&page=1">http://portal.core.edu.au/confranks/?search=NCA&by=all&source=CORE2017&sort=atitle&page=1</a>

            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>