<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/taha%20ben%20salah.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Taha BEN SALAH has an engineering degree in Computer Science from ENSI (National School of Computer
                Science, Tunisia) in 2000 and a PhD degree in Telecommunications from ENIT (National School of Engineers
                of Tunis, Tunisia) in 2009.
                <br><br>
                He first worked as software engineer, software architect, CTO and CEO in several ICT companies (from
                2000 to 2009) before joining National School of Engineers of Sousse (ENISo) as an Associate Professor,
                where he teaches “Simulation and Numerical Modeling”, "Wireless Communication Standards", “Distributed
                and Parallel Systems" and "Programming Frameworks". Since 2014, he holds the position of Head of
                Computer Engineering Department at ENISo. He also organized the very first Internet of Things Challenge
                in Tunisia (2016) named "ENISo IoT Challenge", a multi-disciplinary IoT centric challenge for
                engineering students from all over the country and all the disciplines. He finally launched a new
                engineering program named "Embedded Telecommunications Engineering" in the department that is also an
                IoT Centric Telecommunications Program.
                <br><br>
                Taha is affiliated to the newly created ENISo's NOCCS (Networked Objects Control and Communication
                Systems) research Laboratory and his main research interests are numerical methods (including Method of
                Moments and Finite Elements Method) for antenna modeling and distributed computing.
                <br><br>
                His skills and passion for Libre software led him to publish and still the main developer and maintainer
                of many open-source software such as : HadruMaths & HadruWaves : a Library and a Simulator implementing
                numerical methods for microwave and antenna modeling in java and scala programming languages providing a
                convenient environment for fast large data processing, nuts (Network Updatable Things service) a
                Package/Thing manager for deploying complex inter-dependent os-independent while architecture aware
                packages, Big Data Vista Baby : a big data aware IoT broker and HAL Server, VR portal : an Education
                Portal for managing education institutions (Higher Education Schools actually such as ENISo)
                implementing a Pyramidal Particularly Modular Architetcture, UPA (Unstructured Persistence API) an API
                and a reference implementation of dynamic schema aware Object Relational Mapping (ORM) framework
                enabling unstructured and semi-structured data manipulation within relational databases, doovos
                (Distributed object oriented virtual operating system) a reference implementation of a scalable
                distributed processing platform managing distributed memory management, distributed file management and
                process migration across a cluster of heterogeneous nodes, dbclient, a multi-purpose relational database
                client, and many other tools..

            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>