<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/atef_masmoudi.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Atef MASMOUDI</h1>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Atef MASMOUDI was born in Sfax, Tunisia, in 1979. <br>
                He received an engineering degree
                in computer science from the National School of Computer Science (ENSI), University of Mannouba, Tunisia, in July 2003, and a MSc degree in automatic and signal processing from the National Engineering School of Tunis (ENIT), University of Tunis el Manar, in July 2005.
                <br>

                He received a PhD degree in Computer Science from the University of Montpellier II, France on December 17, 2010. <br>
                <br>He received his Accreditation to Supervise Research (HDR) in Electrical Engineering from the National Engineering School of Sfax (ENIS), University of Sfax, Tunisia, on May 30, 2015. Since 2016, he was been an associate professor at Sfax Preparatory Engineering Institute (IPEIS), University of Sfax, Tunisia. He has teached courses on computer science, programming languages, problem solving, image processing and applied probability and statistics topics. <br><br>
                He has supervised BSc projects of students from different institutions of the University of Sfax, Tunisia. From 2014, he was an associate researcher at LIRMM computer science laboratory (Laboratory of Informatics, Robotics, and Microelectronics of Montpellier), France, and he joined the Laboratory of Electronics and Technology of Information, National Engineering School of Sfax (LETI), University of Sfax, Tunisia, in 2015.
                <br><br>
                He contributed to the supervision of Doctoral and Master’s theses together with the research staff of different laboratories. His main research activities are in the areas of image compression and encryption. He has owned two Tunisian patents and has published two books and over 30 articles in international journals and conferences. He has also participated to the organization of many conferences and workshops. He has strong expertise in C/C++/MATLAB/MAPLE/JAVA/PYTHON programming with good knowledge of Software Engineering and Information Security. He has a significant ability to develop image processing algorithms with strong problem solving skills and strong mathematical background including linear algebra and statistics/probability.


            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>