<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/Mohamed%20HAYOUNI.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Dr. Mohamed Hayouni</h1>
                <b>Email:</b> <a href="mailto:mohamed.hayouni@supcom.rnu.tn">mohamed.hayouni@supcom.rnu.tn</a><br>
                <b>Mobile:</b> +216 97 297 317<br>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Mohamed HAYOUNI was born in Kef, Tunisia, in 1979. <br>
                He received the Engineering degree in electrical engineering, option industrial computer sciences from the Higher National School of Engineers (ENSIT) of Tunis, Tunisia in 2002 and the M.S.  degree in Information Technology and Communication from École Supérieure des Communications de Tunis (Sup’Com), Ariana, Tunisia in 2005.   <br>
                In 2012, he obtained the PhD degree from Sup'Com in collaboration within ENSEEIHT, Toulouse, France. His main research interests include microwave, millimeter wave detection, design and optimization techniques for ultra wideband and multiband compact antennas and numerical methods for solving electromagnetic problems.
                <br> <br>
                Since 2005, Mohamed HAYOUNI has been a Research Member with Systems of Telecommunications (6'tel) Research Unit and the Innovation of communicant and cooperative mobiles (Innov'Com) research Laboratory, Sup'Com, Tunisia. He was elected a member of the Scientific Council of Innov'Com during the academic year 2012-2013 and he participated to several scientific committees of several workshops organized by the same Research Laboratory.
                <br> <br>In Jun 2011, Mohamed HAYOUNI visited École Nationale Supérieure Appliquée (ENSA) de Tanger, Morocco for a scientific stay of one month  in the framework "Characterization of radio frequency components and circuits for EMC compliance of radio communications systems", reference number 10/MT/34.
                <br> <br>In October 2011, Mohamed HAYOUNI joined Institut Supérieur d'Informatique du Kef (ISIK), Université de Jendouba, as a Teaching Assistant with telecommunications and he has been an Assistant Professor with the same institute in 2015. Mohamed HAYOUNI is member of the scientific council of ISIK since October 2013. He is  also coordinator of several commissions within ISIK such as a professional Master in multimedia, internships, etc.
                <br> <br>In May 2014, Mohamed HAYOUNI visited,  for a scientific stay of one month, the Electromagnetic Radiation Group (GRE) with the Instituto de Telecomunicaciones y Aplicaciones Multimedia (iTeAM) at the Universitat Politècnica de València, Spain within the framework of the cooperation project  "Security, Services, nEtworking and performance of next generation IP-based multimedia wireless Networks" (S2EuNet), http://s2eunet.org/. Actually Mohamed HAYOUNI collaborates with the GRE for future supervising of PhD students.
                <br> <br>Mohamed HAYOUNI published more than 18 international conference papers and 03 journal papers.
                <br> <br>Mohamed HAYOUNI is married and father of two children.


            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>