<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/MohamedABID.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Dr. Ing. Mohamed Abid</h1>
                <b>Email:</b> <a href="mailto:abid.mohamed@gmail.com">abid.mohamed@gmail.com</a><br>
                <b>Mobile:</b> +216 55 844 679<br>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Mohamed ABID received his diploma of engineer in computers sciences with distinction
                from ENSI: National School of Computer Sciences (University of Manouba, Tunisia) in year
                2004. He then received Master Degree in Computer Science from ENSI, in year 2005. In
                February 2011, he successfully completed his PhD in Computer Science and Network, with
                honorable mention, at University of Pierre and Marie Curie (Paris 6) and Telecom SudParis in
                France, under the supervision of Prof. Hossam AFIFI.
                <br><br>
                Currently, Mohamed ABID is an assistant professor in the National Engineering School of
                Gabes (ENIG). He is a CCNA instructor in the CISCO Academy of ENIG. He is also a
                member of the research Unit Hatem Bettaher IResCoMath (Informatique, Réseau,
                Télécommunication et Mathématique UR13ES79). His research interests lie in the area of
                Network security, privacy, wireless network, NGN, vehicular network, IoT, Big Data, Cloud
                computing.
                <br><br>
                Formerly, Mohamed ABID was a member or Cristal Lab in ENSI-Manouba. Then, he was a
                member of RS2M lab (Networks and mobile multimedia services Laboratory), Telecom
                SudParis, France.
                <br><br>
                Mohamed ABID has supervised 2 masters’ students and is co–supervising 2 Phds students in
                Telecom.
                <br><br>
                Mohamed ABID is 37 years old. He is married and father to two children.
            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>