<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>BIO</title>
    <meta name="description" content="Tunisian Olympiad in Problem Solving">
    <meta name="author" content="">

    <meta property="og:url" content="http://www.iops.online/TOPS"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="International Olympiad in Problem Solving"/>
    <meta property="og:description"
          content="The main idea behind the creation of the « International Olympiads in Problem Solving (IOPS) » is to propose a common contest for both school students and university students."/>
    <meta property="og:image" content="image/fb_preview.jpg"/>
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../../js/jquery-modal-master/jquery.modal.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css"
          type="text/css" media="screen"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/skeleton.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/color.css"/>
    <link rel="stylesheet" href="../../css/font-awesome.css"/>
    <link rel="stylesheet" href="../../css/et-line.css"/>
    <link rel="stylesheet" href="../../css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../css/owl.transitions.css"/>
    <link rel="stylesheet" href="../../css/retina.css"/>
    <link rel="stylesheet" href="../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../css/settings.css"/>
    <link rel="stylesheet" href="../../css/layers.css"/>
    <link rel="stylesheet" href="../../css/navigation.css"/>
    <link rel="stylesheet" href="bio.css"/>

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="../../images/favicon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">


</head>
<body>
<nav id="menu-wrap" class="menu-back cbp-af-header cbp-af-header-shrink" style="background: black">
    <div class="container">
        <div class="twelve columns">
            <div class="logo"></div>
            <ul class="slimmenu">
                <li>
                    <a href="../../index.php">Back to main page</a>
                </li>
            </ul>
        </div>
    </div>


</nav>
<div class="container">
    <div class="bio-container">

        <div class="col-md-3 col-xs-12">
            <img class="col-xs-12" src="../../images/commitee/yemna_sayeb.jpg"/>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="col-xs-12" id="bio-header">
                <h1>Yemna Sayeb Belhassen </h1>
            </div>
            <div class="col-xs-12" id="bio-detail">
                <h2>BIOGRAPHY</h2>
                Yemna Sayeb Belhassen received her Master and PhD degree in Computer Science from The National School of
                Computer Sciences (ENSI) in the University of Manouba. <br> <br>
                She is currently Assistant professor at the Higher Institute of Multimedia Arts of Manouba (ISAMM) and
                active member in the research group at RIADI Laboratory at National School of Computer Science, ENSI,
                University of Manouba. <br>
                She is certified in <b>Business Intelligence Analyst</b> and <b>Big Data Developer</b>. <br> <br>

                <b>2012-2017:</b> Senior Advisor to the President of Manouba University in concern with Information
                System; <br>
                <b>2008- 2011 :</b> Senior Advisor to the Minister of Higher Education, Scientific Research, in concern
                with Information System and implementing the SALIMA Information; <br>
                <b>2007-2011 :</b> Member of the National Commission of University Reform (LMD); 2001-2005 : Head of IT
                and Multimedia Department in the Higher Institute of Multimedia Arts of Manouba (ISAMM)
                <br> <br>
                Yemna Sayeb is Author or co-author of some publications in scientific conferences, in the field of
                software engineering, Enterprise Architecture and Urbanization, Business Process Modeling and
                Governance, Model Driving Architecture.

                <br> <br>She supervised master student and co-supervise some doctoral students.

            </div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="../../js/jquery-2.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>