
.wrapper{
  background: url("../../assets/img/parallax-1.jpg") repeat fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
}


.container-fluid {
  height: 100vh;
  background: url("../../assets/img/parallax_iops.png") repeat fixed;
  background-size: cover;
  width: 100%;
}

.cover-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2{
  color: white;
}

form{
  padding: 20px;
  margin: auto;
  background-color: white;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  min-width: 400px;
  border-radius: 4px;
}

img {
  width: 150px;
  margin-top:90px;
}

button{
  float: right;
}
